# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Poetry
poetry.lock

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints (just in case)
.ipynb_checkpoints/

# Test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.bak
*.tmp

# Profiles, dumps
*.profile
*.pid
*.dump

# Environments
.env
.env.*

# Notebook stuff
*.ipynb_checkpoints
